<html>
<head><title></title>

</head>

<body bgcolor = "FCFCF8">

<center>
<h1>
<u> MY RESUME </u>
</h1>
</center>

<h3> Jayrald Decendario Paculod </h3>
<img src = " jayrald.jpg" width = 110 height = 110 hspace = 350 align = right >
<h4>Don Julian,Brgy. Ma-a, 
	Davao City 8000</h4>
<h4>Mobile No. 09753475572</h4>
<div style =color:blue;>
<h4>Email: Jayralddecendario19554@gmail.com</h4><hr>
</div>
<h2>
<u> OBJECTIVE </u>
</h2>
		<h3><li>Seeking a position that will utilize my fullest potential that will give 
				opportunities to enhance my personality and career</h3>
		<h3>	growth and will give benefits and  salaries that will commensurate with my abilities and
				qualifications.
		</h3><hr>